.matricula-se{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.matricula-se input[type="search"]{
    border: 0;
    height: 50px;
    width: 100%;
    max-width: 350px;
    background: #FBF7F7;
    border-radius: 5px 0px 0px 5px;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    color: #63717D;
    box-shadow: 0px 2px 2px rgba(124, 136, 148, 0.4);
    margin: 0;
}
.matricula-se .btn-search-post{
    border: 0;
    height: 50px;
    background: #EE2211;
    border-radius: 0px 5px 5px 0px;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    color: #FAFAFA;
    box-shadow: 0px 2px 2px rgba(124, 136, 148, 0.4);
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    margin:0; 
}
.matricula-se .btn-search-post img{
    display: inline-block;
    padding: 2px 5px;

}

/* intro */
section.intro{
    background-image: url("../assets/fotos/bg-intro-blog.jpg");
}

/* posts */
.posts{
    margin: 0 auto;
    padding: 120px 0;
}
.navegar-posts a.btn img{
    margin: 5px 5px auto 5px;

}
.item-post{
    cursor: pointer;
    margin-bottom: 60px;
}
.item-post img{
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 10px 10px #BACBD9, 0px 5px 5px rgba(186, 203, 217, 0.3);
    margin-right: 60px;
}
.titulo-post{
    margin: 30px 0 30px 0;
    font-weight: bold;
    font-size: 36px;
    color: #17212B;
}
.descricao-post{
    color: #45535E;
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 60px;
}
.infos-autor-post p{
    color: #45535E;
    font-size: 14px;
    font-weight: normal;
    display: flex;
}
.infos-autor-post p img{
    border-radius: 0;
    box-shadow: none;
    margin-right: 5px;
}

/* controles */
.desativado{
    visibility: hidden;
}