.matricula-se{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.matricula-se input[type="text"]{
    border: 0;
    height: 50px;
    width: 100%;
    max-width: 350px;
    background: #FBF7F7;
    border-radius: 5px 0px 0px 5px;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    color: #63717D;
    box-shadow: 0px 2px 2px rgba(124, 136, 148, 0.4);
}
.matricula-se .btn-search-post{
    border: 0;
    height: 50px;
    background: #EE2211;
    border-radius: 0px 5px 5px 0px;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    color: #FAFAFA;
    box-shadow: 0px 2px 2px rgba(124, 136, 148, 0.4);
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
}
.matricula-se .btn-search-post img{
    display: inline-block;
    padding: 2px 5px;

}

div.intro{
    background-image: url("../assets/fotos/bg-intro-blog.jpg");
}