/* intro */
.pesquisar-post{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-width: 720px;
}
.pesquisar-post input[type="search"]{
    border: 0;
    height: 50px;
    width: 100%;
    background: #FBF7F7;
    border-radius: 5px 0px 0px 5px;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    color: #17212B;
    box-shadow: 0px 2px 2px rgba(124, 136, 148, 0.4);
    margin: 0;
}
.pesquisar-post .btn-search-post{
    border: 0;
    margin: 0;
    min-width: 200px;
    height: 50px;
    background: #EE2211;
    border-radius: 0px 5px 5px 0px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #FAFAFA;
    box-shadow: 0px 2px 2px rgba(124, 136, 148, 0.4);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}
.pesquisar-post .btn-search-post img{
    display: inline-block;
    padding: 2px 5px;
}
section.intro{
    background-image: url("../assets/fotos/bg-intro-blog.jpg");
}
@media only screen and (min-width: 740px) and (max-width: 980px){
    .titulo-page{
        flex-direction: column;
    }
    .pesquisar-post{
        margin-top: 30px;
    }
}
@media only screen and (max-width: 739px){
    .pesquisar-post{
        margin-top: 15px;
        margin-right: 15px;
    }
}
@media only screen and (max-width: 439px){
    .pesquisar-post {
       flex-direction: column;
    }
    .pesquisar-post,
    .pesquisar-post .btn-search-post, 
    .pesquisar-post input[type="search"]{
        max-width: calc(300px - 30px);
        font-size: 1em;
    }
    .pesquisar-post input[type="search"]{
        border-radius:  5px 5px 0 0;
    }
    .pesquisar-post .btn-search-post{
        width: inherit;
        border-radius: 0 0 5px 5px;
    }
}


/* posts */
.posts{
    margin: 0 auto;
    padding: 120px 0;
    flex-direction: column;
}
.navegar-posts a.btn img{
    margin: 5px 5px auto 5px;
}
.lst-posts{
    display: flex;
    flex-direction: column;
}
.item-post{
    cursor: pointer;
    margin-bottom: 60px;
    max-height: 400px;
    display: flex;
    flex-direction: row;
    position: relative;
}
.item-post img{
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 10px 10px #BACBD9, 0px 5px 5px rgba(186, 203, 217, 0.3);
    margin-right: 60px;
    object-fit: cover;
    max-width: 450px;
}
.titulo-post{
    margin: 30px 0 30px 0;
    font-weight: bold;
    font-size: 36px;
    color: #17212B;
    text-transform: initial;
}
.descricao-post{
    color: #45535E;
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 60px;
}
.infos-autor-post > div{
    display: flex;
    flex-direction: row;
}
.infos-autor-post > div p:first-of-type{
    width: 150px;
}
.infos-autor-post p{
    color: #45535E;
    font-size: 14px;
    font-weight: normal;
    display: flex;
}
.infos-autor-post p img{
    border-radius: 0;
    box-shadow: none;
    margin-right: 5px;
    object-fit: none;
}
@media only screen  and (max-width: 980px){
    .item-post img{
        max-width: 350px;
    }
    .titulo-post{
        font-size: 2em;
    }
    .descricao-post{
        font-size: 16px;
    }
    .infos-autor-post p{
        font-size: 12px;
    }
}
@media only screen and (max-width: 740px){
    .infos-post{
        position: absolute;
        height: calc(100% - 10px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .descricao-post{
        display: none;
    }
    .item-post img{
        margin-right: 0;
        max-width: 100%;
        filter: brightness(50%);
    }
    .titulo-post{
        font-size: 1.5em;
    }
    .infos-autor-post p{
        margin-bottom: 15px;
    }
    .titulo-post, .infos-autor-post p{
        color: #FFF;
        margin-left: 15px;
        margin-right: 15px;
    }
}

/* controles */
.navegar-posts{
    display: flex;
    flex: 1;
    justify-content: flex-end;
}
.desativado{
    visibility: hidden;
}

